div.card {
  display: inline-block;
  justify-content: space-between;
  background-color: rgb(52, 52, 52);
  margin: 10px 10px;
  text-align: center;
  color: white;
}
img.card-img{
  width: max-content;
}
div.card-title.h5{
  width: 500px;
}
div.card-body{
  text-align: center;
}
