.App {
  text-align: center;
}
.Map {
  border-radius: 10000px;
  background-color: blue;
}
body {
  background: rgb(34,137,195);
  background: radial-gradient(circle, rgba(34,137,195,1) 0%, rgba(34,23,6,1) 100%);
}

figcaption.figure-caption{
color: rgb(0, 0, 0);
font-size: 1.5em;
margin-bottom: 5px;
}
input.form-control {
  margin: auto;
  margin-bottom: 10px;
}
.acc {
  width: 500px;
  margin: auto;
  margin-bottom: 10px;
}
div.card{
  display: inline;
  justify-content: space-between;
}

