div.weather{
  display: inline-block;
  width: 300px;
}
div.card {
  display: inline-block;
  justify-content: space-between;
  background-color: rgb(52, 52, 52);
  margin: 10px 10px;
  color: white;
}
.App {
  text-align: center;
}
body {
  background: rgb(34,137,195);
  background: radial-gradient(circle, rgba(34,137,195,1) 50%, rgba(34,23,6,1) 100%);
}
h1 {
  color: white;
  margin-top: 90px;
}
img {
  border-radius: 300px;
}
figcaption.figure-caption{
color: rgb(0, 0, 0);
font-size: 1.5em;
margin-bottom: 5px;
}
input.form-control {
  margin: auto;
  margin-bottom: 10px;
}

div.movie{
  display: inline-block;
}
input.form-control{
  width: max-content;
}
button.btn.btn-primary{
  margin-bottom: 10px;
}
